.list-table {
  border: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  thead {
    display: inline-block;
    width: 100%;
    border: 0;
    tr {
      display: inline-block;
      width: 100%;
      border: 0;
      padding: 0 15px 15px;
      th {
        display: inline-block;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: var(--app-font-semibold);
        color: #b4b6be;
        text-transform: uppercase;
        padding: 0;
      }
    }
  }
  tbody {
    display: inline-block;
    width: 100%;
    border: 0 !important;
    tr {
      display: inline-block;
      width: 100%;
      border: 0;
      background: var(--app-white);
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 3px rgba(21, 34, 50, 0.12);
      margin: 0 0 10px;
      vertical-align: middle;
      td {
        display: inline-block;
        padding: 0;
        border: 0;
        font-size: var(--app-font-comman-size);
        font-weight: var(--app-font-regular);
        color: var(--app-dark-gray);
      }
    }
  }
}
