.screen-popup-model {
  .modal-header {
    background: transparent;
    height: auto !important;
    padding: 1rem 1rem !important;
    border-bottom: 1px solid #dee2e6 !important;
    h3 {
      margin: 0px;
      color: var(--app-dark-gray);
    }
  }
  .modal-dialog {
    max-width: 725px;
    transform: translateY(-50%) !important;
    top: 50%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0px;
    .recording-error {
      height: 250px;
      color: var(--app-danger);
      padding: 20px;
    }
  }
  .modal-footer {
    .player-btn-area {
      display: flex;
      width: 100%;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      button {
        padding: 0;
        margin: 0;
        border: 0px;
        background: transparent;
        font-size: 30px;
        &.active {
          color: var(--app-dark-gray);
        }
        &.btn-start.active,
        &.btn-resume.active {
          color: var(--app-primary);
        }
        &.btn-stop.active {
          color: var(--app-danger);
        }
      }
      button + button {
        margin-left: 15px;
      }
    }
    .btn-success {
      text-transform: uppercase;
      font-size: 14px;
      height: 40px;
      display: flex;
      vertical-align: middle;
      align-items: center;
      font-weight: var(--app-font-bold);
      svg {
        font-size: 14px;
        margin: 0 5px 0 0;
        stroke-width: 2px;
      }
    }
  }
}
