.teacher-add-popup-model {
  .modal-header {
    background: transparent;
    height: auto !important;
    padding: 25px !important;
  }
  .modal-title {
    padding: 5px 30px 30px !important;
  }
  .modal-dialog {
    max-width: 725px;
    transform: translateY(-50%) !important;
    top: 50%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0px;
  }
  .app-modal-content {
    padding: 0 60px 60px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    li {
      width: 33.33%;
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        &:hover img {
          margin: -15px auto 15px;
        }
        img {
          display: block;
          margin: 0 auto 15px;
          transition: all 0.3s ease-out;
        }
        span {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: var(--app-font-bold);
          color: var(--app-dark-gray);
          line-height: 32px;
          letter-spacing: 1.3px;
        }
      }
    }
  }
}
