.app-user-type {
  float: left;
  width: 100%;
  position: relative;
  .user-banner {
    background: url(../../Assets/Images/Svg/user-top-illus.svg) no-repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 200px;
    margin: 0 0 50px;
  }
  .user-listing {
    float: left;
    width: 100%;
    text-align: center;
    .users {
      max-width: 1024px;
      display: block;
      margin: 0 auto;
      h2.title {
        font-size: 42px;
        margin: 0 0 50px;
        color: var(--app-dark-gray);
        line-height: normal;
        font-weight: var(--app-font-bold);
      }
    }
    ul {
      list-style: none;
      margin: 0 -15px;
      padding: 0;
      display: flex;
      li {
        display: inline-block;
        width: 33.33%;
        padding: 0 15px;
        a {
          display: inline-block;
          text-decoration: none;
          img {
            display: block;
            margin: 0 auto;
            width: 200px;
          }
          span.user-type {
            font-size: 28px;
            font-weight: 600;
            color: var(--app-light-gray);
            margin: 30px 0 0;
            display: inline-block;
          }
        }
      }
    }
  }
}
