.pupil-lesson-list {
  .lesson-data {
    margin-top: 20px;
    h3 {
      font-size: 18px;
      font-weight: var(--app-font-semibold);
      color: var(--app-dark-gray);
      line-height: 22px;
      margin: 0 0 5px;
    }
    .lesson-list-slider {
      margin: 0 0 0 -10px;
      .swiper {
        padding: 10px 50px 10px 10px;
      }
      .app-lesson-item {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid var(--app-input-light-border);
        box-shadow: 0 0 4px rgba(21, 34, 50, 0.18);
        a {
          text-decoration: none;
        }
        .lesson-thumb {
          position: relative;
          border-bottom: 1px solid var(--app-input-light-border);
          &:before {
            content: "";
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
            top: 0;
            left: 0;
            height: 80px;
            position: absolute;
          }
          img {
            width: 100%;
          }
          .app-thumb-detail {
            display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9;
            .app-date {
              color: var(--app-white);
              font-size: var(--app-font-comman-size);
              font-weight: var(--app-font-regular);
              line-height: 20px;
            }
            .app-bookmark {
              position: relative;
              display: inline-block;
              svg {
                color: var(--app-white);
                font-size: 19px;
                &.save {
                  path {
                    fill: #00a36b;
                    stroke: #00a36b;
                  }
                }
              }
            }
          }
        }
        .app-pupil-lesson-detail {
          padding: 15px 12px;
          h4 {
            font-size: var(--app-font-comman-size);
            color: var(--app-dark-gray);
            font-weight: var(--app-font-regular);
            line-height: 20px;
            margin: 0 0 3px 5px;
          }
          h3 {
            font-size: 18px;
            font-weight: var(--app-font-semibold);
            line-height: 22px;
            color: var(--app-dark-gray);
            margin: 0 0 0 5px;
          }
          .app-lesson-author {
            display: flex;
            vertical-align: middle;
            align-items: center;
            margin: 30px 0 0;
            img {
              width: 30px;
              height: 30px;
              margin: 0 8px 0 0;
              border-radius: 100%;
            }
            h5 {
              margin: 0;
              font-size: var(--app-font-comman-size);
              color: var(--app-dark-gray);
              font-weight: var(--app-font-regular);
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
