.pupil-profile-view {
  height: 100%;
  width: 100%;

  p {
    font-size: var(--app-font-comman-size);
  }

  label {
    color: var(--app-label-light);
    font-weight: var(--app-font-regular);
    font-size: var(--app-font-comman-size);
  }
  label.title-line {
    position: relative;
    font-size: 18px;
    font-weight: var(--app-font-semibold);
    color: var(--app-dark-gray);
    line-height: 22px;
    margin: 0 0 20px;
    width: 100%;

    &:after {
      content: "";
      height: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #f1f2f7;
      margin: 0 0 0 15px;
      right: 0;
    }

    span {
      display: inline-block;
      padding: 0 10px 0 0;
      position: relative;
      z-index: 1;
    }
  }
  .profile-detail {
    label.title-line::after {
      margin: 0 0 0 150px;
    }
  }
  .parent-detail {
    label.title-line::after {
      margin: 0 0 0 180px;
    }
  }
  .profile-banner {
    background: url(../../../../../Assets/Images/Svg/profile-top.svg) no-repeat;
    height: 200px;
    background-size: cover;
    position: relative;
    .profile-pic {
      position: absolute;
      bottom: -20px;
      left: 60px;
      img {
        width: 120px;
        height: 120px;
        border: 5px solid #fff;
        border-radius: 100%;
      }
    }
  }
  .edit-profile {
    .btn {
      height: 40px;
      padding: 0 25px;
      line-height: 38px;
      appearance: none;
      border-radius: 8px;
      font-size: 14px;
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 15px;
      text-transform: uppercase;
      font-weight: var(--app-font-bold);
    }
  }

  .inner-container {
    max-width: 1000px;
    margin: auto;

    label {
      color: var(--app-label-light);
    }

    p {
      font-weight: var(--app-font-medium);
    }
  }

  .image-div {
    width: 100%;
    height: 150px;
    background: url(../../../../../Assets/Images/Svg/profile-top.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 90px;
    padding: 20px;
    z-index: 2;

    .pupil-profile-image {
      width: 130px;
      height: 130px;
      border-radius: 100%;
      background-color: white;
      margin: 2px 0px 0px 45px;
      border: 5px solid #7d7d7d;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 23;
    }
  }


  .student-details {
    width: 60%;
    height: 100%;
    // background-color: yellow;

    .first-div {
      padding-top: 20px;

      .personal-info {
        margin-top: 30px;
      }

    }

    .second-div {
      padding-top: 0px;
      padding-bottom: 100px;

      .personal-info {
        margin-top: 20px;

        .address {
          max-width: 200px;
        }
      }
    }

  }


}