.teacher-detail-header {
  box-shadow: 0 2px 2px rgba(21, 34, 50, 0.08);
}
.teacher-detail-main {
  padding: 0px !important;
  margin-bottom: 20px;
}
.app-teacher-detail {
  .profile-banner {
    background: url(../../../../Assets/Images/Svg/profile-top.svg) no-repeat;
    height: 200px;
    background-size: cover;
    position: relative;
    .profile-pic {
      position: absolute;
      bottom: -20px;
      left: 60px;
      img {
        width: 120px;
        height: 120px;
        border: 5px solid #fff;
        border-radius: 100%;
      }
    }
  }
  .edit-profile {
    .btn {
      height: 40px;
      padding: 0 25px;
      line-height: 38px;
      appearance: none;
      border-radius: 8px;
      font-size: 14px;
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 15px;
      text-transform: uppercase;
      font-weight: var(--app-font-bold);
    }
  }
  .inner-container {
    max-width: 1000px;
    margin: auto;
    label {
      color: var(--app-label-light);
    }
    p {
      font-weight: var(--app-font-medium);
      .status-icon {
        margin-left: 5px;
        svg {
          color: #ffffff;
          border-radius: 100%;
          padding: 3px;
        }
        .check-icon {
          background-color: #00a36b;
        }
        .uncheck-icon {
          background-color: #ff200d;
        }
      }
    }
  }
  .teacher-insight {
    padding: 0 2rem;
    h5 {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .teacher-counter {
      font-size: 26px;
      font-weight: var(--app-font-semibold);
      background-color: #f9fafc;
      padding: 1.8rem;
      width: 100%;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-weight: var(--app-font-semibold);
        color: #6f7073;
      }
    }
  }
}
