.app-header-outer {
  .edit-lesson > .btn {
    font-weight: var(--app-font-bold);
    border-radius: 8px;
    padding: 0px 25px;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    height: 40px;
  }
}
