:root {
  --app-font-poppins: var(--app-body-font-family);
  --app-font-family: var(--app-body-font-family);
  --app-font-comman-size: var(--app-body-font-size);
  --app-light-black: #454545;
  --app-loader-bg: #0bbb6e;
  --app-dark-gray: #262626;
  --app-light-gray: #343434;
  --app-font-regular: 400;
  --app-font-medium: 500;
  --app-font-semibold: 600;
  --app-font-bold: 700;
  --app-day-label: #F4F6F9;
  --app-label-light: #9699a5;
  --app-input-light-border: #e7e9ef;
  --app-input-placeholder: #d5d7d9;
  --app-input-border-focus: #17a9ea;
  --app-table-border-light: #E7E9EF;
}
